.card {
  border-radius: 18px;
  padding: 18px;
  padding-top: 0;
  color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-left: 6px solid transparent;
  width: 15rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.header h3 {
  font-size: 18px;
  font-weight: 600;
}

.statusDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.metrics {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.label {
  font-size: 12px;
  color: grey;
}

.value {
  font-size: 18px;
  font-weight: 600;
  margin-top: 4px;
  display: block;
}

.healthy {
  border-color: #06782e;
}

.healthy .statusDot {
  background: #06782e;
}

.degraded {
  border-color: #ffcc00;
}

.degraded .statusDot {
  background: #ffcc00;
}

.down {
  border-color: #ff4d4f;
}

.down .statusDot {
  background: #ff4d4f;
}